* text=auto eol=lf

Package.swift linguist-generated

go.mod linguist-generated

setup.py linguist-generated
pyproject.toml linguist-generated

binding.gyp linguist-generated
bindings/** linguist-generated
bindings linguist-generated
src/** linguist-generated
